*
!.agents/
!.agents/mcp_config.json
!.agents/**/
!.agents/**/*.md
!.agents/**/*.yaml
!.sentrux
!.sentrux/rules.toml
!dist
!dist/*
!dist/*/*
!src
!src/*.rs
!src/*/
!src/**/*.rs
!tests
!tests/*.rs
!Cargo.lock
!Cargo.toml
!LICENSE
!README.md
!skills-lock.json
!.gitignore
!.editorconfig
!.github/
!.github/workflows
!.github/workflows/ci.yml
!.github/workflows/release.yml
